<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todo_app/todo_app.css' %}" media="screen" />
    </head>
    <body>
        <header>

            <h1>Todo</h1>
        </header>
        <hr />
        {% block content %}
        {% endblock %}
    </body>
</html>

