<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Completed Todos</title>
    </head>
    <body>
        <h1>Completed Todo</h1>
        <hr />
        <ul>
            {% for todo in todos  %}
            <li>
                <form action="{% url 'todo_app:change_status' %}" method="POST">
                    {% csrf_token %}
                    <input type="checkbox" name="checked" {% if todo.done %}checked{% endif %} >
                    <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
                    <button>Update</button>
                    <input type="hidden" name="pk" value="{{ todo.pk }}">
                    {{ todo.text }}
                </form>
            </li>
            {% endfor %}
        </ul>
        <hr />
        <a href="{% url 'todo_app:index' %}">Todos</a>
    </body>
</html>

