{% extends "./base.html" %}



{% block content %}

{% block title %}<title>Todo</title>{% endblock  %}

<p>Welcome {{ user }} - <a href="{% url 'login_app:logout' %}">Log out</a> - <a href="{% url 'login_app:delete_account' %}" >Delete Account</a></p>
<ul>
    {% for todo in todos  %}
    <li>
        <form action="{% url 'todo_app:change_status' %}" method="POST">
            {% csrf_token %}
            <input type="checkbox" name="checked" {% if todo.done %}checked{% endif %} >
            <button>Update</button>
            <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
            <input type="hidden" name="pk" value="{{ todo.pk }}">
            {{ todo.text }}
        </form>
    </li>
    {% endfor  %}
</ul>
<hr />
<form action="." method="POST">
    {% csrf_token %}
    <input type="text" name="text" placeholder="Write your todo item here!" />
    <button>Create todo</button>
</form>
<a href="{% url 'todo_app:completed_todos' %}">Completed todos</a>
{% endblock %}
