<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <hr />
        <form action="{% url 'login_app:sign_up' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="user_name" placeholder="User Name">
            <input type="email" name="email" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="Confirm Password">
            <button>Sign Up</button>
        </form>
        <hr />
        {% if error %}
        {{ error }}
        {% endif %}
    </body>
</html>
